<!DOCTYPE html>
<html lang="es-MX" dir="ltr" class="all-body">

<head>
  <meta charset="utf-8">
  <title>Blog</title>
  <link rel="stylesheet" href="/Styles/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500&display=swap" rel="stylesheet">
  <script src="/script.js" defer></script>
</head>

<body class="blog-body all-body">
  
  <!-- encabezado de la tienda -->
  <section class="hero">
    <div class="textos-hero">
      <h1>Mr. Mani</h1>
      <p>Le damos sabor a la vida</p>
    </div>
    <div class="svg-hero" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150"
        preserveAspectRatio="none" style="height: 100%; width: 100%;">
        <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
          style="stroke: none; fill: #fff;"></path>
      </svg></div>
  </section>

  <nav>
    <img src="\img\icon_menu.svg" alt="menu" class="menu">

    <div class="navbar-left">
      <img src="\img\mani.png" alt="logo" class="logo">
  
      <ul>
        <li>
          <a class="blog-a" href="/index.html">Inicio</a>
        </li>
        <li>
          <a class="blog-a" href="/views/blog.html">Blog</a>
        </li>
        <li>
          <a class="blog-a" href="/views/nosotros.html">Nosotros</a>
        </li>
        <li>
          <a class="blog-a" href="/views/formulario.html">Contactanos</a>
        </li>
        <li>
          <a class="blog-a" href="/views/carrito.html">Proceso Compra</a>
        </li>
      </ul>
    </div>

    <div class="navbar-right">
      <ul>
        <li class="navbar-email">mi.correo@saludos.com</li>
        <li class="navbar-shopping-cart">
          <img src="\img\icon_shopping_cart.svg" alt="shopping cart">
          <div>2</div>
        </li>
      </ul>
    </div>

    <div class="desktop-menu inactive">
      <ul>
        <li>
          <a href="/" class="title">Mis órdenes</a>
        </li>

        <li>
          <a href="/">Mi cuenta</a>
        </li>

        <li>
          <a href="/">Cerrar sesión</a>
        </li>
      </ul>
    </div>

    <div class="mobile-menu inactive">
      <ul>
        <li>
          <a class="blog-a" href="/index.html">Inicio</a>
        </li>
        <li>
          <a class="blog-a" href="/views/blog.html">Blog</a>
        </li>
        <li>
          <a class="blog-a" href="/views/nosotros.html">Nosotros</a>
        </li>
        <li>
          <a class="blog-a" href="/views/formulario.html">Contactanos</a>
        </li>
        <li>
          <a class="blog-a" href="/views/carrito.html">Proceso Compra</a>
        </li>
      </ul>
  
      <ul>
        <li>
          <a href="/">Mis órdenes</a>
        </li>
        <li>
          <a href="/">Mi cuenta</a>
        </li>
      </ul>
  
      <ul>
        <li>
          <a href="/" class="email">mi.correo@saludos.com</a>
        </li>
        <li>
          <a href="/" class="sign-out">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </nav>

  <aside id="shoppingCartContainer" class="inactive">
    <div class="title-container">
      <img src="\img/flechita.svg" alt="arrow">
      <p class="title">Mi orden</p>
    </div>

    <div class="my-order-content">
      <div class="shopping-cart">
        <figure>
          <img src="/img/cmielc.jpg" alt="miel">
        </figure>
        <p>Crema de Manni Proteina</p>
        <p>$65</p>
        <img src="\img/icon_close.png" alt="close">
      </div>

      <div class="shopping-cart">
        <figure>
          <img src="\img/cproteinc.jpg" alt="proteina">
        </figure>
        <p>Crema de Manni Miel</p>
        <p>$50</p>
        <img src="\img/icon_close.png" alt="close">
      </div>

      <div class="order">
        <p>
          <span>Total</span>
        </p>
        <p>$115.00</p>
      </div>

      <button class="primary-button">
        Pagar
      </button>
    </div>
  </div>
  </aside>
  </nav>



  <h2 class="blog-titulo">Nuestras recomendaciones</h2>
  <section class="container blog-section">

    <article class="blog-card">
      <div class="card-image">
        <img src="/img/manny.jpg" alt="cacahuate de fondo">
      </div>
      <h2>Cacahuate 100% mexicano</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p>
      <a  class="blog-a" href="#">Conoce más</a>
    </article>
    <article class="blog-card">
      <div class="card-image">
        <img src="/img/m2.jpg" alt="cacahuate de fondo">
      </div>
      <h2>Nuestras mejores selecciones</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod </p>
      <a class="blog-a" href="#">Conoce más</a>
    </article>
    <article class="blog-card">
      <div class="card-image">
        <img src="/img/m3.jpg" alt="cacahuate de fondo">
      </div>
      <h2>Desde el campo a tu mesa</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p>
      <a class="blog-a" href="#">Conoce más</a>
    </article>



  </section>

  <h2 class="blog-titulo">Te puede interesar</h2>
  <section class="container blog-section">

    <article class="blog-card">
      <div class="card-image">
        <img src="/img/samp1.jpg" alt="cacahuate de fondo">
      </div>
      <h2>La crema de cacahuate y sus beneficios a la salud</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p>
      <a class="blog-a" href="#">Conoce más</a>
    </article>
    <article class="blog-card">
      <div class="card-image">
        <img src="/img/samp2.jpg" alt="cacahuate de fondo">
      </div>
      <h2>10 razones para comprar nuestra crema de cacahuate</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod </p>
      <a class="blog-a" href="#">Conoce más</a>
    </article>
    <article class="blog-card">
      <div class="card-image">
        <img src="/img/samp3.jpg" alt="cacahuate de fondo">
      </div>
      <h2>Prueba estas recetas de postres</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p>
      <a class="blog-a" href="#">Conoce más</a>
    </article>

    <article class="blog-card">
      <div class="card-image">
        <img src="/img/samp4.jpg" alt="cacahuate de fondo">
      </div>
      <h2>Ideas para un aperitivo con esta crema</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p>
      <a class="blog-a" href="#">Conoce más</a>
    </article>

    <article class="blog-card">
      <div class="card-image">
        <img src="/img/samp3.jpg" alt="cacahuate de fondo">
      </div>
      <h2>Prueba estas recetas de postres</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p>
      <a class="blog-a" href="#">Conoce más</a>
    </article>

    <article class="blog-card">
      <div class="card-image">
        <img src="/img/samp4.jpg" alt="cacahuate de fondo">
      </div>
      <h2>Ideas para un aperitivo con esta crema</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p>
      <a  class="blog-a" href="#">Conoce más</a>
    </article>

    <article class="blog-card">
      <div class="card-image">
        <img src="/img/samp1.jpg" alt="cacahuate de fondo">
      </div>
      <h2>La crema de cacahuate y sus beneficios a la salud</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p>
      <a class="blog-a" href="#">Conoce más</a>
    </article>

    <article class="blog-card">
      <div class="card-image">
        <img src="/img/samp2.jpg" alt="cacahuate de fondo">
      </div>
      <h2>Prueba estas recetas de postres</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .</p>
      <a class="blog-a" href="#">Conoce más</a>
    </article>
  </section>

  <h2 class="blog-titulo">La opinión de nuestros clientes</h2>
  <section class="container blog-section">
    <article class="blog-card">
      <div class="card-image">
        <img src="/img/doge.jpg" alt="">
      </div>
      <h2>Miguel</h2>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut ."</p>
      <p><img src="/img/star-orange.png" alt=""> <img src="/img/star-orange.png" alt=""> <img
          src="/img/star-orange.png" alt="">
        <img src="/img/star-orange.png" alt=""> <img src="/img/star-white.png" alt="">
      </p>

    </article>

    <article class="blog-card">
      <div class="card-image">
        <img src="/img/samp.jpg" alt="">
      </div>
      <h2>María</h2>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut ."</p>
      <p><img src="/img/star-orange.png" alt=""> <img src="/img/star-orange.png" alt=""> <img
          src="/img/star-orange.png" alt="">
        <img src="/img/star-orange.png" alt=""> <img src="/img/star-orange.png" alt="">
      </p>

    </article>

    <article class="blog-card">
      <div class="card-image">
        <img src="/img/sand.jpg" alt="">
      </div>
      <h2>Juan</h2>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut ."</p>
      <p><img src="/img/star-orange.png" alt=""> <img src="/img/star-orange.png" alt=""> <img
          src="/img/star-orange.png" alt="">
        <img src="/img/star-white.png" alt=""> <img src="/img/star-white.png" alt="">
      </p>

    </article>
  </section>

  <footer class="blog-footer">


    <ul class="list">
      <li><a class="blog-a" href="/index.html">Inicio</a></li>
      <li><a class="blog-a" href="#">Blog</a></li>
      <li><a class="blog-a" href="/views/nosotros.html">Nosotros</a></li>
      <li><a class="blog-a" href="/views/formulario.html">Contactanos</a></li>
      <li><a class="blog-a" href="/views/carrito.html">Carrito</a></li>
    </ul>

    <p class="copyright">©Copyright 2022 Mr mani. Todos los derechos reservados.</p>
  </footer>



</body>

</html>